/*FOOTER*/
#footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 10px 25px 10px;
}

#footer h3{
    margin-bottom: 10px;
    font-family: 'Birthstone Bounce', cursive;
}

#footer a {
    text-decoration: none;
    color: #fff;
    padding-right: 15px;
}

#footer a:hover{
    color: #B3B3B3;
}

footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-bottom: 10px;
}