*{
    margin: 0;
    padding: 0;
}

.container{
    width: 97%;
    margin: 0 auto;
}

/*HEADER*/
header{
    background-color: #000;
    opacity: 0.9;
    text-align: center;
    padding: 23% 0;
    margin-bottom: 25px;
}

header h1{
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    font-family: 'Birthstone Bounce', cursive;
}


header a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 3px #000;
}


header a:hover {
    color: #B3B3B3;
    text-shadow: 1px 1px 3px #000;
}

/*SECTION*/
#bloc-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

#bloc-section section{
    box-shadow:  1px 1px 3px #000;
    padding: 15px;
    text-align: center;
    width: 30%;
}

#bloc-section section h2{
    margin-bottom: 10px;
    font-family: 'Birthstone Bounce', cursive;
}

#bloc-section section p{
    margin-bottom: 10px;
}

#bloc-section section a button{
    background-color: #000;
    padding: 5px;
    color: #fff;
}

#bloc-section section a button:hover{
    background-color: #B3B3B3;
}

#bloc-section section a {
    text-decoration: none;
    
}


